[Unit]
Description=Gunicorn server for SITENAME
After=network.target

[Service]
Restart=on-failure
User=monty
WorkingDirectory=/home/monty/sites/SITENAME/source
ExecStart=/home/monty/sites/SITENAME/venv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlist.wsgi
Restart=always

[Install]
WantedBy=multi-user.target
