[Unit]
Description=Gunicorn server for SITENAME
After=network.target

[Service]
Restart=on-failure
User=monty
EnvironmentFile=/home/monty/sites/ec2-3-14-80-125.us-east-2.compute.amazonaws.com/.env
WorkingDirectory=/home/monty/sites/SITENAME/source
ExecStart=/home/monty/sites/SITENAME/venv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlist.wsgi
Restart=always

[Install]
WantedBy=multi-user.target
